/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800;900&display=swap');

/* common styles and utilities */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container {
    width: 1440px;
    margin: 0 auto;
}

/* header styles */

/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}
.navbar-logo{
    display: flex;
    align-items: center;
}
.navbar-logo img{
    margin-right: 20px;
}
.navbar-logo h1 a{
    font-size: 45px;
    color: #000000;
}
.navbar-logo span{
    color: #FF42A5;
}
.navbar-menu ul{
    display: flex;
    align-items: center;
}
.navbar-menu ul li{
    margin-left: 30px;
}
.navbar-menu ul li a{
    font-weight: 700;
    color: #3C354F;
    
}
.navbar-menu button{
    padding: 15px 20px;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
}
.navbar-menu i{
    margin-left: 10px;
}
.fa-youtube{
    color: red;
}

/* banner styles */
.banner{
    background-image: url(../images/banner-bg.png);
    background-repeat: no-repeat;
}
.banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-text h3{
    font-size: 50px;
    text-transform: uppercase;
}
.banner-text h1{
    font-size: 100px;
    background: linear-gradient(to top, #A554E1 0%, #DC4CC2 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.banner-text ul li{
    margin-top: 15px;
}
.sign-in-btn{
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 20px;
    border: 0;
    background-color: #FF42A5;
    text-transform: uppercase;
    margin-right: 15px;
}
.sign-in-btn a{
    color: #ffffff;
}
.go-rogue-btn{
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 20px;
    border: 0;
    background-color: #4EC5F7;
    text-transform: uppercase;
}
.go-rogue-btn a{
    color: #ffffff;
}

/* online games styles */
.online-games{
    padding-top: 120px;
}
.online-games h3{
    text-align: center;
    font-size: 35px;
    padding-bottom: 16px;
}
.online-games span{
    background: linear-gradient(to top, #A554E1 0%, #DC4CC2 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.online-games p{
    text-align: center;
    color: #534C64;
    padding-bottom: 48px;
}
.online-games-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 120px;
}
.online-games-img img:hover{
    background-color: #000000;
}
.online-games-img figcaption{
    padding-top: 24px;
    color: #534C64;
}

/* play instantly styles */
.play-instantly{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}
.play-instantly-text{
    padding-right: 265px;
}
.play-instantly-text h3{
    text-align: right;
    font-size: 35px;
}
.play-instantly-text span{
    background: linear-gradient(to top, #A554E1 0%, #DC4CC2 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.play-instantly-text p{
    text-align: right;
    padding-top: 24px;
    color: #534C64;
}
.play-instantly-img1{
    position: relative;
}
.play-instantly-img2{
    position: absolute;
    left: 765px;
    top: 2025px;
}

/* games part styles */
.games{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 30px;
}
.single-game{
    display: flex;
    align-items: center;
    padding: 8px;
    background: #f9f9f9;
    border-radius: 50px;
    color: #0B0223;
    transition: 0.3s;
}
.single-game:hover{
    border: 1px solid #FF42A5;
    color: #FF42A5;
}
.single-game img{
    padding-right: 16px;
}
.single-game p{
    font-weight: 700; 
}


/* footer styles */
.footer{
    background-color: #0B0223;
    height: 630px;
    text-align: center;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 65px;
}
.footer-logo img{
    margin-right: 15px;
}
.footer-logo h1 a{
    font-size: 45px;
    color: #ffffff;
}
.footer-logo span{
    color: #FF42A5;
}
.footer-menu{
    padding-bottom: 65px;
}
.footer-menu ul{
    display: flex;
    justify-content: center;
}
.footer-menu ul li{
    padding: 0px 20px;
}
.footer-menu ul li a{
    color: #ffffff;
}
.footer-icon{
    padding-bottom: 65px;
}
.footer-icon ul{
    display: flex;
    justify-content: center;
}
.footer-icon ul li a i{
    color: #ffffff;
    font-size: 50px;
    padding: 0px 20px;
}
.footer-privacy{
    padding-bottom: 30px;
}
.footer-privacy ul{
    display: flex;
    justify-content: center;
}
.footer-privacy ul li{

}
.footer-privacy ul li a{
    padding: 0px 20px;
    color: #ffffff60;
}
.footer p{
    color: #ffffff60;
}


